@inject NavigationManager Navigation

<button class="btn btn-success" @onclick:stopPropagation="true" @onclick="HandleClick">Agregar Inversión</button>

@code {
    [Parameter]
    public EventCallback OnClick { get; set; }

    private async Task HandleClick()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync(null);
        }
    }
}
