@inherits LayoutComponentBase

<PageTitle>InvestmentsApp.Frontend</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="container content">
            <div class="row">
                @Body
            </div>
            
        </article>
    </main>

</div>
