@inherits LayoutComponentBase

<PageTitle>InvestmentsApp.Frontend</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer class="text-center mt-4">
        <p>&copy; 2024 Mateo Valenzuela</p>
    </footer>
</div>
