@using InvestmentsApp.Frontend.Services
@inject IInvestmentService InvestmentService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<h3>Tabla de Inversiones</h3>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Ticker</th>
            <th>Categoría</th>
            <th>Fecha de Cierre</th>
            <th>Importe Inicial</th>
            <th>Importe Final</th>
            <th>Rendimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var investment in Investments)
        {
            <tr @onclick="() => HandleDetailInvestment(investment.Id)">
                <td>@investment.Tikcker</td>
                <td>@investment.TypeInvestmentDescripcion</td>
                <td>@investment.FechaCierre.ToLocalTime().ToString("dd/MM/yyyy")</td>
                <td>$@investment.ImporteInicial</td>
                <td>$@investment.ImporteFinal</td>
                <td>@investment.Rendimiento.ToString("0.00")%</td>
                <td>
                    <EditButton OnClick="() => NavigateToEditInvestment(investment.Id)" />
                    <DeleteButton OnClick="() => HandleDeleteInvestment(investment)" />
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<ClientSwagger.InvestmentDto> Investments { get; set; }

    private void NavigateToEditInvestment(long id)
    {
        Navigation.NavigateTo($"/investmentEditForm/{id}");
    }

    private async Task ConfirmDeleteInvestment(ClientSwagger.InvestmentDto investment)
    {
        var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", $"¿Estás seguro de que deseas eliminar la inversión con Ticker {investment.Tikcker}?");

        if (confirmed)
        {
            await DeleteInvestment(investment.Id);
        }
    }

    private async Task HandleDeleteInvestment(ClientSwagger.InvestmentDto investment)
    {
        await ConfirmDeleteInvestment(investment);
        Navigation.NavigateTo("/", forceLoad: true);

    }

    private async Task DeleteInvestment(long id)
    {
        await InvestmentService.DeleteInvestment(id);
    }

    private async Task HandleDetailInvestment(long id)
    {
        Navigation.NavigateTo($"/investmentDetail/{id}");

    }
}

