@using InvestmentsApp.Frontend.Services
@inject ITypeInvestmentService TypeInvestmentService
@inject NavigationManager Navigation

<h3>Agregar Tipo de Inversión</h3>

<EditForm Model="@newTypeInvestment" OnValidSubmit="HandleSaveForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Descripción:</label>
        <InputText @bind-Value="newTypeInvestment.Descripcion" class="form-control" />
        <ValidationMessage For="@(() => newTypeInvestment.Descripcion)" />
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>

</EditForm>

@code {
    private ClientSwagger.InsertTypeInvestmentDto newTypeInvestment = new();

    protected override async Task OnInitializedAsync()
    {
        newTypeInvestment = new ClientSwagger.InsertTypeInvestmentDto();
    }

    private async Task HandleAddTypeInvestment()
    {
        var result = await TypeInvestmentService.AddTypeInvestment(newTypeInvestment);
    }


    private async Task HandleSaveForm()
    {
        await HandleAddTypeInvestment();
        Navigation.NavigateTo("/typesInvestment", forceLoad: true);
    }


}

